* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: white555;
  font-family: "Roboto  " "Lato", "sans-serif";
  font-weight: 300px;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0 auto;
}

.logo img{
  width: 90px;

}
.navu{
  margin-bottom: 0px;
}
.navu li{
  margin-right: 70px;
 
}
header{
  position: relative;
  z-index: 1;
}

#naco_solutions{
  position: absolute;
  z-index: 2;
  /* color: #fff; */
  font-weight: 700;
  margin-top: 10%;
  letter-spacing: 0.5em;
  margin-left:50%;
  background-color: white;
  
  
}

.who-we-are {
  background-color: darkcyan;
  height: 300px;
}

.who-we-are p{
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7em;
}
.wedo-1 {
  background-color: rgb(83, 133, 240);
  height: 500px;
}
.wedo-2 {
  background-color: white;
  height: 420px;
}
.wedo-2 p{
  background-color:white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

.wedo-2 img {
  width: 40%;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wedo-3 {
  background-color:white;
  height: 395px;
  padding: 11px;
}
.side-card {
  border-top-left-radius: 35%;
  background-color: rgba(21, 85, 85, 0.644);
}
.side-contact {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 23px;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}

.side-address {
  text-align: center;
  line-height: 2rem;
  color: white;
  letter-spacing: 0.1rem;
  border-top: 2px solid rgba(220, 226, 226, 0.644);
  font-weight: bold;
}

.wedo-7{
  background-color: #679292;
  height: 500px;
}

.contact_us {
  height: 700px;
  width: 70%;
}

.contact-photo {
}
.contact_img {
  width: fit-content;
}

.wedo-photo {
  background-color: white;
  /* height: 300px; */
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 92%;
  padding: 7px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 13px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 7px 7px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  /* width: 70%; */
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
.contactimg {
  width: 100%;

  height: auto; /* only if you want fixed height */
  float: right;
}

@media only screen and (max-width: 850px) {
  
  #naco_solutions{
    position: absolute;
    z-index: 2;
    /* color: #fff; */
    font-weight: 200;
    margin-top: 1%;
    /* letter-spacing: 0.1em; */
    margin-left:1%;
   
    /* margin-top: 10px; */
    margin-bottom: 1px;
    padding-top: 100px;
    padding-bottom: 5px;
    
    
    
  }
  .who-we-are p{
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7em;
    margin-top: 10px;
    padding-top: 10px;
  }
  .navu{
    margin-bottom: 10px;
  
}
